<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Minhas Tarefas
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-button type="buttun"  shape="round" expand="full" color="secondary" routerLink="/tarefa">
        Incluir
      </ion-button>
      <ion-button type="buttun" (click)="pegarData()" shape="round" expand="full" color="warning">
        Pesquisar
      </ion-button>
    </ion-card-header>
      <ion-title style="margin-bottom: 10px;">
        Minhas Tarefas
      </ion-title>
        <ion-list *ngFor="let tarefa of tarefas">
          <ion-item-sliding >
            <ion-item-options side="start">
              <ion-item-option expandable (click)="onEdit(tarefa.id)">Editar</ion-item-option>
            </ion-item-options>
            <ion-item>
              <div style="margin-left: 10px; width: 80px;">{{tarefa.inicio | date:"dd/MM/yy"}}</div>
              <div sytle="width: 100px;">{{tarefa.entrega | date:"dd/MM/yy"}}</div>
              <div style="margin-left: 10px; width: 80px; ">{{tarefa.observacao}}</div>
              <ion-button color="success"><ion-icon name="thumbs-up"></ion-icon></ion-button>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" expandable (click)="presentAlertConfirm(tarefa.id, tarefa.observacao)">Deletar</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
    </ion-card>
</ion-content>
